strong {
    color: aqua;

    background-color: green;
    padding: 10px;
    margin: 50px;
    border: 2px red;
}

p{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 25px;
    margin: 20px 10px;
}