nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
}

.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.nav-left .facebook-image{
    width: 40px;
    margin: 5px 8px;
    cursor: pointer;

}

.nav-left .facebook-image img{
    width: 100%;
    border: 50%;
}

.nav-left .searchbar{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    margin-left: 4px;
    padding: 0 8px;
    position: relative;
    
}

.nav-center{
    justify-content: space-evenly;
    width: 150px;
    border-radius: 10px;
    margin-left: 2px;
    font-size: 22px;
    padding: 13px 40px;
}

.nav-right{
    width: 170px;
    justify-content: space-between;
}

.main{
    display: flex;
    margin-top: 60px;
}
.main .left{
    width: 24%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

.main-center{
    width: 45%;
    margin-left: 28%;
    height: auto;
    background: white;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
}

.top-box{
    width: 100%;
    height: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: whitesmoke;
    padding: 20px;
}

.my-story{
    width: 125px;
    height: 240px;
    overflow: hidden;
    box-shadow: 0px 1px 9px rgba(0,0,0,0.3);
    border-radius: 10px;
    cursor: pointer;
}

.my-story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}