header{
    display: flex;
    height: 70px;
    width: 100%;
    
}

.faceimg{
    align-items: center;
    height: auto;
    
}

.searchbar{
    width: 20%;
    align-content: center;
}

header img{
    height: 50px;
    align-self: center;
    
}

.icons{
    justify-content: space-evenly;
    align-content: center;
    width: 60%;
    }

.notify{
    justify-content: space-between;
    align-content: center;
    justify-content: center;
    width: 20%;
}

.navigation{
    display: flex;
}
.left-nav{
    width: 20%;
    height: (100vh-70px);
    background-color: antiquewhite;
    overflow-y: scroll;
}

.center-nav{
    width: 60%;
    background-color: rgb(234, 240, 238);
}

.my-story{
    width: 100%;
    display: flex;
    gap: 10px;
}

.parrot img{
        width: 200px;
    
}

.village img{
     width: 225px;
}

.city img{
        width: 170px;

}

.mobile img{
        width: 225px;

}

.nature img{
    width: 80%;
}

.right-nav{
    width: 20%;
    background-color: honeydew;
}

.right-nav img{
    width: 40%; 
    overflow-y: scroll;
}