nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
}

.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.nav-left .facebook-image{
    width: 40px;
    margin: 5px 8px;
    cursor: pointer;

}

.nav-left .facebook-image img{
    width: 100%;
    border: 50%;
}

.nav-left .searchbar{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    margin-left: 4px;
    padding: 0 8px;
    position: relative;
    
}

.nav-center{
    justify-content: space-evenly;
    width: 150px;
    border-radius: 10px;
    margin-left: 2px;
    font-size: 22px;
    padding: 13px 40px;
}

.nav-right{
    width: 170px;
    justify-content: space-between;
}